/* normalize css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* flex-container */
#flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 300px;
  background-color: lightgray;
  border: 1px solid black;
}

/* flex-item */
.flex-item {
  width: 15%;
  height: 100px;
  border: 1px solid black;
}

/* colors */
#red {
  background-color: red;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
}

#blue {
  background-color: blue;
}
