/* normalize css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* flex-container */
#flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: 600px;
  background-color: lightgray;
  border: 1px solid black;
}

/* flex-item */
.flex-item {
  width: 35%;
  height: 80px;
  background-color: red;
  border: 1px solid black;
}
